#tableMovie{
  border: 1px solid #000;
  margin-left: 25%;
  width: 50%;
}
th{
  text-align: center;
  background-color: white;
}
td{
  text-align:left;
  background-color: white;
}
td[name = "button"]{
  padding-left: 20px
}

#formMovie{
  background-color: white
}
